
    .Device {
        color: #222;
         text-decoration: none    }

    h3 {
        color: #ffffff;
        font-family: 'lato', serif; font-size: 36px;
        font-weight: 400;
        font-size: 50px;
        line-height: 100px;
        margin: 0 0 12px;
        text-align: center; 
      }
  


  

  

  
    
  